<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1>Delete Words</h1>

<p>Choose which words you would like to delete and then click submit. This will remove all selected words from your study list.</p>

<div>
    <list>
        <ul th:unless="${words.size() > 0}">No words to display</ul>
                <strong><p th:text="${word.name}"/></strong>
                <ol th:each="definition : ${word.definitions}" th:text="'- ' + ${definition.text}"/>
            </div>
        </th:block>
    </list>
</div>

</body>
</html>