<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1><th:block th:text="'Welcome, ' + ${username} + '!'"/></h1>

<div th:replace="fragments :: random-word"></div>

<div class="section">
    <button class="btn btn-primary" style="float:left;" onClick="window.location.reload();">New Word</button>

    <th:block th:if="${definitions} != ''">
        <form method="post" th:object="${word}">
            <input type="hidden" th:id="name" th:name="name" th:value="${wordText}"/>
            <th:block th:each="definition : ${definitions}">
            <input type="hidden" th:id="definitions" th:definitions="definitions" th:value="${definition}"/>
            </th:block>
            <input type="submit" value="Save Word" class="btn btn-primary" style="margin-left:10px"/>
        </form>
    </th:block>
</div>

<div th:replace="fragments :: page-footer"></div>

</body>
</html>