<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1><th:block th:text="'Welcome, ' + ${username} + '!'"/></h1>

<div class="container">
    <p><strong><th:block th:text="${wordApi}"/></strong></p>
    <th:block th:if="${defText} != ''">
        <ol th:each="definition : ${defText}" th:text="${definition}"/>
    </th:block>
</div>

<div th:replace="fragments :: page-footer"></div>

</body>
</html>