<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container body-content">

<script th:inline="javascript">
    window.onload = function () {
    let wordCount = /*[[${words.size()}]]*/;
    let scoreDisplay = document.querySelector('#scoreDisplay');
    flashcards(wordCount, scoreDisplay);
    };
</script>

<div th:replace="fragments :: page-header"></div>

<h1>Practice</h1>

<div id="scoreDisplay" class="score-display">
    <p></p>
</div>

<div class="word-container">
    <list>
        <ul th:unless="${words.size() > 0}" class="error">No words to display yet</ul>
        <div hidden th:each="word : ${words}" th:id="${words.indexOf(word)+1}">
            <p th:text="${word.name}" class="word"/>
            <div hidden th:id="-${words.indexOf(word)+1}">
                <ol th:each="definition : ${word.definitions}" th:text="'- ' + ${definition.text}"/>
            </div>
        </div>
    </list>
</div>

<div class="section" id="flashcardButtons">
    <button type="button" id="showDefinitions" class="btn btn-success" style="float:left;">Definition</button>
    <button type="button" id="rightAnswer" class="btn btn-primary" style="margin-left:10px;">Right</button>
    <button type="button" id="wrongAnswer" class="btn btn-primary" style="margin-left:10px;">Wrong</button>
</div>

</body>
</html>