<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1>My Words</h1>

<p>Your saved words are below. Click on a word if you wish to view the word individually or delete it from the list.</p>

<p>If you'd like to add a specific word to your list, enter it here, and we'll add it if it's in our dictionary!</p>

<form method="post" style="max-width:200px;" th:object="${wordDTO}">
    <div class="form-group">
        <input class="form-control" th:name="name" />
    </div>
    <input type="submit" value="Add Word" class="btn btn-primary"/>
</form>
<p class="error" th:text="${newWordError}"/>

<div>
    <list>
        <ul th:unless="${words.size() > 0}" class="error">No words to display yet</ul>
        <th:block th:each="word : ${words}">
            <div class="section">
            <strong><a th:href="@{/user/view/{id}(id=${word.id})}"><p th:text="${word.name}"/></a></strong>
            <ol th:each="definition : ${word.definitions}" th:text="'- ' + ${definition.text}"/>
            </div>
        </th:block>
    </list>
</div>

<div th:replace="fragments :: page-footer"></div>

</body>
</html>