<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container body-content">

<div th:replace="fragments :: page-header"></div>

<h1>View Word</h1>

<div class="section">
    <p th:text="${word.name}" class="word"/>
    <ol th:each="definition : ${word.definitions}" th:text="'- ' + ${definition.text}"/>
</div>

<div>
    <form class="form-group" method="post">
        <div class="section">
            <p>Enter any notes you would like to save for this word:</p>
            <textarea onblur="characterCounter(this,this.form.counter,500);" onkeyup="characterCounter(this,this.form.counter,500);"  rows="4" cols="50" wrap="soft" type="text" name="newNotes" maxlength="500" th:text="${notes}"></textarea>
            <p class="character-counter"><input onblur="characterCounter(this.form.recipients,this,500);" disabled onfocus="this.blur();" tabindex="999" maxlength="1" size="1" value="500" name="counter" class="character-counter"> characters remaining</p>
        </div>
        <div class="section">
            <input type="checkbox" name="delete"><strong class="error">  Delete Word:</strong> This will remove the word and any associated notes from your account
            <input type="hidden" name="delete" value="false"/>
        </div>
        <div class="section">
            <input class="btn btn-primary" type="submit" value="Update"/>
            <p class="success" th:text="${saved}"/>
        </div>
    </form>
</div>

</body>
</html>