.body-content {
    margin-top: 75px;
}

h1 {
    padding-bottom: 20px;
}

td, th {
    padding: 10px;
}

ul {
    float: left;
    overflow: hidden;
    width: 50%;
}

.error {
    color: #FF0000;
}

.section {
    padding-top: 35px;
}

.footer {
    padding-top: 50px;
    font-size: smaller;
    float: bottom;
}

.word-container {
    height: 120px;
    position: relative;
}

.word-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.word {
    font-size: larger;
    font-weight: bold;
}

.score-display {
    font-size: larger;
    color: green;
    font-weight: bold;
}

.study-display {
    padding-top: 20px;
    padding-bottom: 20px;
}