<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word of the Day</title>
    <script src="style.css"></script>
</head>



<body>
<!--Create menu-->
<a href="#" class="logo">Portfolio</a>

<ul class="menu">
    <li> <a href="#home">Home</a> </li>
    <li> <a href="#study">Study</a> </li>
    <li> <a href="#Account">Account</a></li>
</ul>

<!--Top section starts-->
<section class="top" id="home">
    <div class="textBx">
        <h1>Word of the Day</h1>

        <p>Date/Time: <span id="datetime"></span></p>
        <script>
            var dt = new Date();
            document.getElementById("datetime").innerHTML = dt.toLocaleString();
        </script>
    </div>
</section>

<!--Favorite section-->

<!--Study button sections-->

</body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React on Spring</title>
</head>
<body>
<div id="react-mountpoint"></div>
<script src="dist/react-app.js"></script>
</body>
</html>