<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">

<div th:replace="fragments :: page-header-login"></div>

<h1>Word-A-Day</h1>

<div th:replace="fragments :: random-word"></div>

<div class="section">
    <button class="btn btn-primary" onClick="window.location.reload();">New Word</button>
</div>

<div class="section">
    <p><a th:href="@{/login}">Login</a> or <a th:href="@{/register}">register</a> to save words to your account and test yourself using flashcards.
    Save at least one word each day and practice regularly to expand your vocabulary in no time!</p>
</div>

<div th:replace="fragments :: page-footer"></div>
</body>
</html>