<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">

<div th:replace="fragments :: page-header-login"></div>

<h1>Word of the Day</h1>

<div class="container">
    <strong><p th:text="${wordApi}"/></strong>
    <p><th:block th:text="'Definition: ' + ${defText}"/>
</div>

<div class="section">
    <p><a href="${/login}>">Login</a> or <a href="${/register}">register</a> to save words to your account and test yourself using flashcards!</p>
</div>

<div th:replace="fragments :: page-footer"></div>
</body>
</html>